#sudoku_div{
    display: none;
    justify-content: center;
}
#sudoku_table{
    margin: 0 auto;
    border-collapse: collapse;
    border: solid 3px;
}
.sudoku_table_cell{
    border: solid 1px;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}
.cell_bold_right{
    border-right: solid 3px;
}
.cell_bold_bottom{
    border-bottom: solid 3px;
}

#sudoku_table, .sudoku_table_cell, .cell_bold_right, .cell_bold_bottom{
    border-color:rgb(26, 182, 255);
}

#btn_div{
    width: 250px;
    height: 350px;
}
#btn_num_div{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 210px;
    height: 210px;
}
.btn_num{
    width: 60px;
    height: 60px;
    font-size: 25px;
    margin: 5px;
    border-radius: 5%;
}
#btn_list_div{
    display: flex;
}
#btn_delete, #btn_hint{
    width: 100px;
    height: 50px;
    border-radius: 5%;
    margin: 20px auto;
}
.btn_num, #btn_delete, #btn_hint{
    background-color: rgb(117, 204, 238);
    border-color: rgb(65, 172, 221);
    color: rgb(56, 56, 56);
    transition: 0.5s;
    cursor: pointer;
}
.btn_num:hover, #btn_delete:hover, #btn_hint:hover{
    background-color: rgb(91, 198, 240);
    border-color: rgb(35, 161, 219);
    transition: 0.5s;
}
#hint_text_div{
    margin: 0 auto;
}
#hint_text{
    text-align: center;
    font-weight: bold;
}

.modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}
.modal_content{
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 500px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}
@keyframes modalopen {
    from {opacity: 0;}
    to {opacity: 1;}
}
.modal_header{
    background-color: lightblue;
    padding: 3px 15px;
    display: flex;
    justify-content: space-between;
}
.modal_body{
    color: black;
    user-select: none;
}

.radio_div{
    padding: 20px;
}
.radio_diff_label{
    font-size: 20px;
}
#radio_easy, #hole_num{
    margin-left: 30px;
}
#hole_num{
    font-size: 20px;
    width: 100px;
}
#btn_gen_div{
    padding: 20px 0;
}
#btn_gen{
    display: block;
    padding: 10px 30px;
    margin: 0 auto;
}